<header class="sg-Header">
  <div class="Header-wrapper">
    <div class="sg-Header-column">
      <a class="sg-Header-logo"></a>
    </div>

    <div class="sg-Header-column">
      <h1>Business Insurance</h1>
      <p class="sg-List-horizontal">
        Need help? Call:
        <a class="sg-Type--phone" target="_blank" href="https://www.aami.com.au/contact.html" data-type-phonefallback="https://www.aami.com.au/contact.html">
          13 22 44
        </a>
      </p>

      <ul class="sg-List-horizontal ng-scope" ng-if="header.brandConfig.brand == 'AAMI'">
        <li class="sg-Type--small ng-binding">Mon-Fri 8:30am-6pm (AEST/AEDT)</li>
      </ul>
    </div>
  </div>

</header>
