<div class="cart-item-wrapper"
     [ngStyle]="{color: 'blue'}"
>
  <div>
    {{cartItem.name}}
  </div>
  <div>
    ${{cartItem.price}}
  </div>
  <div>
    <select  class="form-control" name='bussinessType' [(ngModel)]="cartItem.quantity"   (change)="onCartItemChanged($event)" required ng-options="o for o in options"
             >

      <option *ngFor="let bussiness of SumInsured" [value]="bussiness.ratio">{{bussiness.name}}</option>
    </select>
  </div>
  <div>
       ${{cartItem.quantity * cartItem.price}}

  </div>
  <div>
    <button type="button"
            class="btn btn-default"
            aria-label="Left Align"
            id={{cartItem.id}}
            (click)="onCartItemDeleted($event)"
    >
        <span class="glyphicon glyphicon-remove"
              aria-hidden="true"
              id={{cartItem.id}}>
        </span>
    </button>
  </div>
</div>


